/*
Beyond Networking Service(BNS) VPC API

BNS VPC API

API version: 1.3.2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package vpc

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type InternetGatewayAPI interface {

	/*
		CreateIgwAttachment Create IGW attachment

		인터넷 게이트웨이(IGW)를 VPC에 연결하는 Attachment를 생성합니다.

	:::info 안내
	연결 후 인터넷 게이트웨이와 Attachment 상태는 [Get internet gateway](/openapi/networking/vpc/get-internet-gateway)에서 확인할 수 있습니다.
	:::

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param igwId 연결할 인터넷 게이트웨이의 고유 ID <br/>- [List internet gateways](/openapi/networking/vpc/list-internet-gateways)에서 확인
		@return ApiCreateIgwAttachmentRequest
	*/
	CreateIgwAttachment(ctx context.Context, igwId string) ApiCreateIgwAttachmentRequest

	// CreateIgwAttachmentExecute executes the request
	//  @return CreateIgwAttachmentResponse
	CreateIgwAttachmentExecute(r ApiCreateIgwAttachmentRequest) (*CreateIgwAttachmentResponse, *http.Response, error)

	/*
		CreateInternetGateway Create internet gateway

		인터넷 게이트웨이(IGW)를 생성합니다. 생성된 인터넷 게이트웨이는 VPC에 연결하여 외부 인터넷 통신 경로로 사용할 수 있습니다.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiCreateInternetGatewayRequest
	*/
	CreateInternetGateway(ctx context.Context) ApiCreateInternetGatewayRequest

	// CreateInternetGatewayExecute executes the request
	//  @return CreateInternetGatewayResponse
	CreateInternetGatewayExecute(r ApiCreateInternetGatewayRequest) (*CreateInternetGatewayResponse, *http.Response, error)

	/*
		DeleteIgwAttachment Delete IGW attachment

		인터넷 게이트웨이(IGW)와 VPC의 연결을 해제하기 위해 IGW Attachment를 삭제합니다.

	:::caution 주의
	IGW Attachment를 삭제하면 해당 VPC의 인터넷 통신 경로에 영향을 줄 수 있습니다.
	:::

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param igwId 인터넷 게이트웨이의 고유 ID
		@param igwAttachmentId 삭제할 IGW Attachment의 고유 ID <br/>- [List internet gateways](/openapi/networking/vpc/list-internet-gateways)에서 확인
		@return ApiDeleteIgwAttachmentRequest
	*/
	DeleteIgwAttachment(ctx context.Context, igwId string, igwAttachmentId string) ApiDeleteIgwAttachmentRequest

	// DeleteIgwAttachmentExecute executes the request
	DeleteIgwAttachmentExecute(r ApiDeleteIgwAttachmentRequest) (*http.Response, error)

	/*
		DeleteInternetGateway Delete internet gateway

		인터넷 게이트웨이(IGW)를 삭제합니다.

	:::caution 주의
	삭제된 인터넷 게이트웨이는 복구할 수 없습니다. VPC에 연결된 인터넷 게이트웨이는 Attachment를 먼저 삭제한 후 삭제해 주세요.
	:::

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param igwId 삭제할 인터넷 게이트웨이의 고유 ID <br/>- [List internet gateways](/openapi/networking/vpc/list-internet-gateways)에서 확인
		@return ApiDeleteInternetGatewayRequest
	*/
	DeleteInternetGateway(ctx context.Context, igwId string) ApiDeleteInternetGatewayRequest

	// DeleteInternetGatewayExecute executes the request
	DeleteInternetGatewayExecute(r ApiDeleteInternetGatewayRequest) (*http.Response, error)

	/*
		GetInternetGateway Get internet gateway

		인터넷 게이트웨이(IGW)의 상세 정보를 조회합니다. 응답에는 연결된 VPC와 Attachment 정보가 함께 포함될 수 있습니다.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param igwId 조회할 인터넷 게이트웨이의 고유 ID
		@return ApiGetInternetGatewayRequest
	*/
	GetInternetGateway(ctx context.Context, igwId string) ApiGetInternetGatewayRequest

	// GetInternetGatewayExecute executes the request
	//  @return GetInternetGatewayResponse
	GetInternetGatewayExecute(r ApiGetInternetGatewayRequest) (*GetInternetGatewayResponse, *http.Response, error)

	/*
		ListInternetGateways List internet gateways

		인터넷 게이트웨이(IGW) 목록을 조회합니다. ID, 이름, 연결된 VPC, Attachment 상태 등의 조건으로 결과를 필터링할 수 있습니다.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiListInternetGatewaysRequest
	*/
	ListInternetGateways(ctx context.Context) ApiListInternetGatewaysRequest

	// ListInternetGatewaysExecute executes the request
	//  @return ListInternetGatewaysResponse
	ListInternetGatewaysExecute(r ApiListInternetGatewaysRequest) (*ListInternetGatewaysResponse, *http.Response, error)

	/*
		UpdateInternetGateway Update internet gateway

		인터넷 게이트웨이(IGW)의 이름 또는 설명을 수정합니다.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param igwId 수정할 인터넷 게이트웨이의 고유 ID <br/>- [List internet gateways](/openapi/networking/vpc/list-internet-gateways)에서 확인
		@return ApiUpdateInternetGatewayRequest
	*/
	UpdateInternetGateway(ctx context.Context, igwId string) ApiUpdateInternetGatewayRequest

	// UpdateInternetGatewayExecute executes the request
	//  @return UpdateInternetGatewayResponse
	UpdateInternetGatewayExecute(r ApiUpdateInternetGatewayRequest) (*UpdateInternetGatewayResponse, *http.Response, error)
}

// InternetGatewayAPIService InternetGatewayAPI service
type InternetGatewayAPIService service

type ApiCreateIgwAttachmentRequest struct {
	ctx                        context.Context
	ApiService                 InternetGatewayAPI
	igwId                      string
	xAuthToken                 *string
	createIgwAttachmentRequest *CreateIgwAttachmentRequest
}

// - [API 인증 토큰](https://docs.kakaocloud.com/openapi/start#api-인증-토큰-발급)
func (r ApiCreateIgwAttachmentRequest) XAuthToken(xAuthToken string) ApiCreateIgwAttachmentRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiCreateIgwAttachmentRequest) CreateIgwAttachmentRequest(createIgwAttachmentRequest CreateIgwAttachmentRequest) ApiCreateIgwAttachmentRequest {
	r.createIgwAttachmentRequest = &createIgwAttachmentRequest
	return r
}

func (r ApiCreateIgwAttachmentRequest) Execute() (*CreateIgwAttachmentResponse, *http.Response, error) {
	return r.ApiService.CreateIgwAttachmentExecute(r)
}

/*
CreateIgwAttachment Create IGW attachment

인터넷 게이트웨이(IGW)를 VPC에 연결하는 Attachment를 생성합니다.

:::info 안내
연결 후 인터넷 게이트웨이와 Attachment 상태는 [Get internet gateway](/openapi/networking/vpc/get-internet-gateway)에서 확인할 수 있습니다.
:::

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param igwId 연결할 인터넷 게이트웨이의 고유 ID <br/>- [List internet gateways](/openapi/networking/vpc/list-internet-gateways)에서 확인
	@return ApiCreateIgwAttachmentRequest
*/
func (a *InternetGatewayAPIService) CreateIgwAttachment(ctx context.Context, igwId string) ApiCreateIgwAttachmentRequest {
	return ApiCreateIgwAttachmentRequest{
		ApiService: a,
		ctx:        ctx,
		igwId:      igwId,
	}
}

// Execute executes the request
//
//	@return CreateIgwAttachmentResponse
func (a *InternetGatewayAPIService) CreateIgwAttachmentExecute(r ApiCreateIgwAttachmentRequest) (*CreateIgwAttachmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateIgwAttachmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternetGatewayAPIService.CreateIgwAttachment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/igws/{igw_id}/attachments"
	localVarPath = strings.Replace(localVarPath, "{"+"igw_id"+"}", url.PathEscape(parameterValueToString(r.igwId, "igwId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAuthToken == nil {
		return localVarReturnValue, nil, reportError("xAuthToken is required and must be specified")
	}
	if r.createIgwAttachmentRequest == nil {
		return localVarReturnValue, nil, reportError("createIgwAttachmentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.xAuthToken, "simple", "")
	// body params
	localVarPostBody = r.createIgwAttachmentRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-auth-token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateInternetGatewayRequest struct {
	ctx                          context.Context
	ApiService                   InternetGatewayAPI
	xAuthToken                   *string
	createInternetGatewayRequest *CreateInternetGatewayRequest
}

// - [API 인증 토큰](https://docs.kakaocloud.com/openapi/start#api-인증-토큰-발급)
func (r ApiCreateInternetGatewayRequest) XAuthToken(xAuthToken string) ApiCreateInternetGatewayRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiCreateInternetGatewayRequest) CreateInternetGatewayRequest(createInternetGatewayRequest CreateInternetGatewayRequest) ApiCreateInternetGatewayRequest {
	r.createInternetGatewayRequest = &createInternetGatewayRequest
	return r
}

func (r ApiCreateInternetGatewayRequest) Execute() (*CreateInternetGatewayResponse, *http.Response, error) {
	return r.ApiService.CreateInternetGatewayExecute(r)
}

/*
CreateInternetGateway Create internet gateway

인터넷 게이트웨이(IGW)를 생성합니다. 생성된 인터넷 게이트웨이는 VPC에 연결하여 외부 인터넷 통신 경로로 사용할 수 있습니다.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateInternetGatewayRequest
*/
func (a *InternetGatewayAPIService) CreateInternetGateway(ctx context.Context) ApiCreateInternetGatewayRequest {
	return ApiCreateInternetGatewayRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CreateInternetGatewayResponse
func (a *InternetGatewayAPIService) CreateInternetGatewayExecute(r ApiCreateInternetGatewayRequest) (*CreateInternetGatewayResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateInternetGatewayResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternetGatewayAPIService.CreateInternetGateway")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/igws"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAuthToken == nil {
		return localVarReturnValue, nil, reportError("xAuthToken is required and must be specified")
	}
	if r.createInternetGatewayRequest == nil {
		return localVarReturnValue, nil, reportError("createInternetGatewayRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.xAuthToken, "simple", "")
	// body params
	localVarPostBody = r.createInternetGatewayRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-auth-token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteIgwAttachmentRequest struct {
	ctx             context.Context
	ApiService      InternetGatewayAPI
	igwId           string
	igwAttachmentId string
	xAuthToken      *string
}

// - [API 인증 토큰](https://docs.kakaocloud.com/openapi/start#api-인증-토큰-발급)
func (r ApiDeleteIgwAttachmentRequest) XAuthToken(xAuthToken string) ApiDeleteIgwAttachmentRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiDeleteIgwAttachmentRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteIgwAttachmentExecute(r)
}

/*
DeleteIgwAttachment Delete IGW attachment

인터넷 게이트웨이(IGW)와 VPC의 연결을 해제하기 위해 IGW Attachment를 삭제합니다.

:::caution 주의
IGW Attachment를 삭제하면 해당 VPC의 인터넷 통신 경로에 영향을 줄 수 있습니다.
:::

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param igwId 인터넷 게이트웨이의 고유 ID
	@param igwAttachmentId 삭제할 IGW Attachment의 고유 ID <br/>- [List internet gateways](/openapi/networking/vpc/list-internet-gateways)에서 확인
	@return ApiDeleteIgwAttachmentRequest
*/
func (a *InternetGatewayAPIService) DeleteIgwAttachment(ctx context.Context, igwId string, igwAttachmentId string) ApiDeleteIgwAttachmentRequest {
	return ApiDeleteIgwAttachmentRequest{
		ApiService:      a,
		ctx:             ctx,
		igwId:           igwId,
		igwAttachmentId: igwAttachmentId,
	}
}

// Execute executes the request
func (a *InternetGatewayAPIService) DeleteIgwAttachmentExecute(r ApiDeleteIgwAttachmentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternetGatewayAPIService.DeleteIgwAttachment")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/igws/{igw_id}/attachments/{igw_attachment_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"igw_id"+"}", url.PathEscape(parameterValueToString(r.igwId, "igwId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"igw_attachment_id"+"}", url.PathEscape(parameterValueToString(r.igwAttachmentId, "igwAttachmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAuthToken == nil {
		return nil, reportError("xAuthToken is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.xAuthToken, "simple", "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-auth-token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteInternetGatewayRequest struct {
	ctx        context.Context
	ApiService InternetGatewayAPI
	igwId      string
	xAuthToken *string
}

// - [API 인증 토큰](https://docs.kakaocloud.com/openapi/start#api-인증-토큰-발급)
func (r ApiDeleteInternetGatewayRequest) XAuthToken(xAuthToken string) ApiDeleteInternetGatewayRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiDeleteInternetGatewayRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteInternetGatewayExecute(r)
}

/*
DeleteInternetGateway Delete internet gateway

인터넷 게이트웨이(IGW)를 삭제합니다.

:::caution 주의
삭제된 인터넷 게이트웨이는 복구할 수 없습니다. VPC에 연결된 인터넷 게이트웨이는 Attachment를 먼저 삭제한 후 삭제해 주세요.
:::

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param igwId 삭제할 인터넷 게이트웨이의 고유 ID <br/>- [List internet gateways](/openapi/networking/vpc/list-internet-gateways)에서 확인
	@return ApiDeleteInternetGatewayRequest
*/
func (a *InternetGatewayAPIService) DeleteInternetGateway(ctx context.Context, igwId string) ApiDeleteInternetGatewayRequest {
	return ApiDeleteInternetGatewayRequest{
		ApiService: a,
		ctx:        ctx,
		igwId:      igwId,
	}
}

// Execute executes the request
func (a *InternetGatewayAPIService) DeleteInternetGatewayExecute(r ApiDeleteInternetGatewayRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternetGatewayAPIService.DeleteInternetGateway")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/igws/{igw_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"igw_id"+"}", url.PathEscape(parameterValueToString(r.igwId, "igwId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAuthToken == nil {
		return nil, reportError("xAuthToken is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.xAuthToken, "simple", "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-auth-token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetInternetGatewayRequest struct {
	ctx        context.Context
	ApiService InternetGatewayAPI
	igwId      string
	xAuthToken *string
}

// - [API 인증 토큰](https://docs.kakaocloud.com/openapi/start#api-인증-토큰-발급)
func (r ApiGetInternetGatewayRequest) XAuthToken(xAuthToken string) ApiGetInternetGatewayRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiGetInternetGatewayRequest) Execute() (*GetInternetGatewayResponse, *http.Response, error) {
	return r.ApiService.GetInternetGatewayExecute(r)
}

/*
GetInternetGateway Get internet gateway

인터넷 게이트웨이(IGW)의 상세 정보를 조회합니다. 응답에는 연결된 VPC와 Attachment 정보가 함께 포함될 수 있습니다.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param igwId 조회할 인터넷 게이트웨이의 고유 ID
	@return ApiGetInternetGatewayRequest
*/
func (a *InternetGatewayAPIService) GetInternetGateway(ctx context.Context, igwId string) ApiGetInternetGatewayRequest {
	return ApiGetInternetGatewayRequest{
		ApiService: a,
		ctx:        ctx,
		igwId:      igwId,
	}
}

// Execute executes the request
//
//	@return GetInternetGatewayResponse
func (a *InternetGatewayAPIService) GetInternetGatewayExecute(r ApiGetInternetGatewayRequest) (*GetInternetGatewayResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetInternetGatewayResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternetGatewayAPIService.GetInternetGateway")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/igws/{igw_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"igw_id"+"}", url.PathEscape(parameterValueToString(r.igwId, "igwId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAuthToken == nil {
		return localVarReturnValue, nil, reportError("xAuthToken is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.xAuthToken, "simple", "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-auth-token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListInternetGatewaysRequest struct {
	ctx                          context.Context
	ApiService                   InternetGatewayAPI
	xAuthToken                   *string
	id                           *string
	name                         *string
	vpcId                        *string
	vpcName                      *string
	vpcCidrBlock                 *string
	attachmentId                 *string
	attachmentProvisioningStatus *string
	natIp                        *string
	provisioningStatus           *string
	createdAt                    *string
	updatedAt                    *string
	sortKeys                     *string
	sortDirs                     *string
	offset                       *int32
	limit                        *int32
}

// - [API 인증 토큰](https://docs.kakaocloud.com/openapi/start#api-인증-토큰-발급)
func (r ApiListInternetGatewaysRequest) XAuthToken(xAuthToken string) ApiListInternetGatewaysRequest {
	r.xAuthToken = &xAuthToken
	return r
}

// 인터넷 게이트웨이의 고유 ID
func (r ApiListInternetGatewaysRequest) Id(id string) ApiListInternetGatewaysRequest {
	r.id = &id
	return r
}

// 인터넷 게이트웨이 이름
func (r ApiListInternetGatewaysRequest) Name(name string) ApiListInternetGatewaysRequest {
	r.name = &name
	return r
}

// 인터넷 게이트웨이가 연결된 VPC의 고유 ID
func (r ApiListInternetGatewaysRequest) VpcId(vpcId string) ApiListInternetGatewaysRequest {
	r.vpcId = &vpcId
	return r
}

// 인터넷 게이트웨이가 연결된 VPC 이름
func (r ApiListInternetGatewaysRequest) VpcName(vpcName string) ApiListInternetGatewaysRequest {
	r.vpcName = &vpcName
	return r
}

// 인터넷 게이트웨이가 연결된 VPC의 CIDR 블록
func (r ApiListInternetGatewaysRequest) VpcCidrBlock(vpcCidrBlock string) ApiListInternetGatewaysRequest {
	r.vpcCidrBlock = &vpcCidrBlock
	return r
}

// IGW Attachment의 고유 ID
func (r ApiListInternetGatewaysRequest) AttachmentId(attachmentId string) ApiListInternetGatewaysRequest {
	r.attachmentId = &attachmentId
	return r
}

// IGW Attachment의 프로비저닝 상태 &lt;br/&gt;- 사용 가능한 값: &#x60;ACTIVE&#x60;, &#x60;DELETED&#x60;, &#x60;ERROR&#x60;, &#x60;PENDING_CREATE&#x60;, &#x60;PENDING_UPDATE&#x60;, &#x60;PENDING_DELETE&#x60;
func (r ApiListInternetGatewaysRequest) AttachmentProvisioningStatus(attachmentProvisioningStatus string) ApiListInternetGatewaysRequest {
	r.attachmentProvisioningStatus = &attachmentProvisioningStatus
	return r
}

// 인터넷 게이트웨이에 할당된 NAT IP 주소
func (r ApiListInternetGatewaysRequest) NatIp(natIp string) ApiListInternetGatewaysRequest {
	r.natIp = &natIp
	return r
}

// 인터넷 게이트웨이의 프로비저닝 상태 &lt;br/&gt;- 사용 가능한 값: &#x60;ACTIVE&#x60;, &#x60;DELETED&#x60;, &#x60;ERROR&#x60;, &#x60;PENDING_CREATE&#x60;, &#x60;PENDING_UPDATE&#x60;, &#x60;PENDING_DELETE&#x60;
func (r ApiListInternetGatewaysRequest) ProvisioningStatus(provisioningStatus string) ApiListInternetGatewaysRequest {
	r.provisioningStatus = &provisioningStatus
	return r
}

// 리소스가 생성된 시간 &lt;br/&gt; - ISO 8601 형식 &lt;br/&gt; - UTC 기준
func (r ApiListInternetGatewaysRequest) CreatedAt(createdAt string) ApiListInternetGatewaysRequest {
	r.createdAt = &createdAt
	return r
}

// 리소스가 마지막으로 수정된 시간 &lt;br/&gt; - ISO 8601 형식 &lt;br/&gt; - UTC 기준
func (r ApiListInternetGatewaysRequest) UpdatedAt(updatedAt string) ApiListInternetGatewaysRequest {
	r.updatedAt = &updatedAt
	return r
}

// 정렬할 필드
func (r ApiListInternetGatewaysRequest) SortKeys(sortKeys string) ApiListInternetGatewaysRequest {
	r.sortKeys = &sortKeys
	return r
}

// 정렬 방향 (&#x60;asc&#x60;, &#x60;desc&#x60;)
func (r ApiListInternetGatewaysRequest) SortDirs(sortDirs string) ApiListInternetGatewaysRequest {
	r.sortDirs = &sortDirs
	return r
}

// 조회 시작 위치
func (r ApiListInternetGatewaysRequest) Offset(offset int32) ApiListInternetGatewaysRequest {
	r.offset = &offset
	return r
}

// 페이지당 최대 반환 항목 수
func (r ApiListInternetGatewaysRequest) Limit(limit int32) ApiListInternetGatewaysRequest {
	r.limit = &limit
	return r
}

func (r ApiListInternetGatewaysRequest) Execute() (*ListInternetGatewaysResponse, *http.Response, error) {
	return r.ApiService.ListInternetGatewaysExecute(r)
}

/*
ListInternetGateways List internet gateways

인터넷 게이트웨이(IGW) 목록을 조회합니다. ID, 이름, 연결된 VPC, Attachment 상태 등의 조건으로 결과를 필터링할 수 있습니다.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListInternetGatewaysRequest
*/
func (a *InternetGatewayAPIService) ListInternetGateways(ctx context.Context) ApiListInternetGatewaysRequest {
	return ApiListInternetGatewaysRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListInternetGatewaysResponse
func (a *InternetGatewayAPIService) ListInternetGatewaysExecute(r ApiListInternetGatewaysRequest) (*ListInternetGatewaysResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListInternetGatewaysResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternetGatewayAPIService.ListInternetGateways")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/igws"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAuthToken == nil {
		return localVarReturnValue, nil, reportError("xAuthToken is required and must be specified")
	}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.vpcId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vpc_id", r.vpcId, "form", "")
	}
	if r.vpcName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vpc_name", r.vpcName, "form", "")
	}
	if r.vpcCidrBlock != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vpc_cidr_block", r.vpcCidrBlock, "form", "")
	}
	if r.attachmentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attachment_id", r.attachmentId, "form", "")
	}
	if r.attachmentProvisioningStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attachment_provisioning_status", r.attachmentProvisioningStatus, "form", "")
	}
	if r.natIp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nat_ip", r.natIp, "form", "")
	}
	if r.provisioningStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provisioning_status", r.provisioningStatus, "form", "")
	}
	if r.createdAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at", r.createdAt, "form", "")
	}
	if r.updatedAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at", r.updatedAt, "form", "")
	}
	if r.sortKeys != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_keys", r.sortKeys, "form", "")
	}
	if r.sortDirs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_dirs", r.sortDirs, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.xAuthToken, "simple", "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-auth-token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateInternetGatewayRequest struct {
	ctx                          context.Context
	ApiService                   InternetGatewayAPI
	igwId                        string
	xAuthToken                   *string
	updateInternetGatewayRequest *UpdateInternetGatewayRequest
}

// - [API 인증 토큰](https://docs.kakaocloud.com/openapi/start#api-인증-토큰-발급)
func (r ApiUpdateInternetGatewayRequest) XAuthToken(xAuthToken string) ApiUpdateInternetGatewayRequest {
	r.xAuthToken = &xAuthToken
	return r
}

func (r ApiUpdateInternetGatewayRequest) UpdateInternetGatewayRequest(updateInternetGatewayRequest UpdateInternetGatewayRequest) ApiUpdateInternetGatewayRequest {
	r.updateInternetGatewayRequest = &updateInternetGatewayRequest
	return r
}

func (r ApiUpdateInternetGatewayRequest) Execute() (*UpdateInternetGatewayResponse, *http.Response, error) {
	return r.ApiService.UpdateInternetGatewayExecute(r)
}

/*
UpdateInternetGateway Update internet gateway

인터넷 게이트웨이(IGW)의 이름 또는 설명을 수정합니다.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param igwId 수정할 인터넷 게이트웨이의 고유 ID <br/>- [List internet gateways](/openapi/networking/vpc/list-internet-gateways)에서 확인
	@return ApiUpdateInternetGatewayRequest
*/
func (a *InternetGatewayAPIService) UpdateInternetGateway(ctx context.Context, igwId string) ApiUpdateInternetGatewayRequest {
	return ApiUpdateInternetGatewayRequest{
		ApiService: a,
		ctx:        ctx,
		igwId:      igwId,
	}
}

// Execute executes the request
//
//	@return UpdateInternetGatewayResponse
func (a *InternetGatewayAPIService) UpdateInternetGatewayExecute(r ApiUpdateInternetGatewayRequest) (*UpdateInternetGatewayResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UpdateInternetGatewayResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InternetGatewayAPIService.UpdateInternetGateway")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/igws/{igw_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"igw_id"+"}", url.PathEscape(parameterValueToString(r.igwId, "igwId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xAuthToken == nil {
		return localVarReturnValue, nil, reportError("xAuthToken is required and must be specified")
	}
	if r.updateInternetGatewayRequest == nil {
		return localVarReturnValue, nil, reportError("updateInternetGatewayRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "x-auth-token", r.xAuthToken, "simple", "")
	// body params
	localVarPostBody = r.updateInternetGatewayRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-auth-token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Auth-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
